/examples/baselines/configs/
/examples/baselines/databases/
/examples/baselines/results/
/examples/monte_carlo/configs/
/examples/monte_carlo/databases/
/examples/monte_carlo/results/
/examples/sensitivity/configs/
/examples/sensitivity/databases/
/examples/sensitivity/results/
/projects/uva/configs/
/projects/uva/databases/
/projects/uva/results/
/projects/virginia/configs/
/projects/virginia/databases/
/projects/virginia/results/
/projects/virginia/results_single/

