/examples/baselines/configs/
/examples/baselines/data/*.db
/examples/baselines/databases/
/examples/baselines/results/
/examples/monte_carlo/configs/
/examples/monte_carlo/data/*.db
/examples/monte_carlo/databases/
/examples/monte_carlo/results/
/examples/sensitivity/configs/
/examples/sensitivity/data/*.db
/examples/sensitivity/databases/
/examples/sensitivity/results/
/projects/uva/configs/
/projects/uva/databases/
/projects/uva/data/*.db
/projects/uva/results/
/projects/virginia/configs/
/projects/virginia/data/*.db
/projects/virginia/databases/
/projects/virginia/results/
/projects/virginia/results_single/
.DS_Store
